[core]
	editor = code --wait
[difftool "code"]
	cmd = code --wait --diff \"$LOCAL\" \"$REMOTE\"
[diff]
	tool = code
[push]
	autoSetupRemote = true
[pull]
	ff = true
[alias]
	st = status
	dis = difftool -y --staged
	oops = reset HEAD~1
	new = switch -c
	r = "!git switch main && git pull"
[fetch]
	all = true
	prune = true
	pruneTags = true
[rerere]
	enabled = true
[init]
	defaultBranch = "main"
